/.metadata/
/PrimeiroCap/nbproject/private/
/PrimeiroCap/build/
/Addition/nbproject/private/
/Addition/build/
/Addition/dist/
/MyAddition/nbproject/private/
/MyAddition/build/
/exC2/nbproject/private/
/exC2/build/
/2.7/nbproject/private/
/2.8/nbproject/private/
/2.8/dist/
/2.8/build/
/exercicios2/nbproject/private/
/exercicios2.1/nbproject/private/
/Capitulo3/Capitulo3/nbproject/private/
/Capitulo3/Capitulo3/build/
